/* Custom styles for the Event Manager website */

body {
  background-color: #f8f9fa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.container {
  padding-top: 20px;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #6c757d;
  margin-top: 40px;
}

.search-box{
  position: absolute;
  width: auto;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline;
  margin-bottom: 100px;
}

.search-box .search{
  display: inline;
  height: 30px;
  width: calc(100% - 40%);
  max-width: 500px;
  border-radius: 15px;
  border: none;
  float: left;
  padding: 0 15px 0 15px;
  text-decoration-color: red;
}
